@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: "Montserrat", sans-serif;
}

html, body {
	width:100%; 
	overflow-x:hidden;
}

.container {
	max-width: 375px;
	margin: 0 auto;
	overflow-x: hidden;
}

.head-img {
	width: 339px;
	height: 220px;
	margin-left: 19px;

}

.hello {
	text-align: center;
	font-size: 18px;
	margin-top: 7px;
}

.text {
	text-align: center;
	margin-top: 5px;
	font-weight:  500;
	font-size: 14px;
	margin-bottom: 24px;
}

.fon {
	
}

.head-fon-1 {
	z-index: -1;
	position: absolute;
	margin-left: 275px;
}

.head-fon-2 {
	z-index: -1;
	position: absolute;
	margin-left: 45px;
    margin-top: -10px;
}

.form {
	margin-left: 65px;
}

label {
    display: block; 
    font-size: 16px; 
    margin-bottom: 1px;
    font-weight: 500;
}

input[type="text"],
input[type="tel"],
input[type="date"],
select {
    width: 245px; /* Ширина поля ввода равна ширине родительского контейнера */
    height: 34px; /* Высота поля ввода */
    font-size: 14px; /* Размер шрифта */
    padding: 5px; /* Внутренний отступ для содержимого */
    border: 2px solid #FFAC3C; /* Обводка внутри, цвет желтый */
    box-sizing: border-box; /* Учитываем обводку в общей ширине элемента */
    margin-bottom: 10px; /* Отступ снизу */
    border-radius: 10px;
}

.button {
	width: 130px;
	height: 40px;
	border-radius: 20px;
	background-color: #FFAC3C;
	border: none;
	margin-top: 20px;
	margin-left: 56px;
}

input[type="submit"] {
    font-weight: 600px;
}