@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: "Montserrat", sans-serif;
}

html, body {
	width:100%; 
	overflow-x:hidden;
}

.container {
	max-width: 375px;
	margin: 0 auto;
	justify-content: center;
}

.head-img {
	width: 339px;
	height: 220px;
	margin-left: 19px;

}

.hello {
	text-align: center;
	font-size: 18px;
	margin-top: 7px;
}

.text {
	text-align: center;
	margin-top: 5px;
	font-weight:  500;
	font-size: 14px;
	margin-bottom: 24px;
}

.fon {
	
}

.head-fon-1 {
	z-index: -1;
	position: absolute;
	margin-left: 275px;
}

.head-fon-2 {
	z-index: -1;
	position: absolute;
	margin-left: 45px;
    margin-top: -10px;
}

.form {
	margin-left: 65px;
}

label {
    display: block; 
    font-size: 16px; 
    margin-bottom: 1px;
    font-weight: 500;
}

input[type="text"],
input[type="tel"],
input[type="date"],
select {
    width: 245px; /* Ширина поля ввода равна ширине родительского контейнера */
    height: 34px; /* Высота поля ввода */
    font-size: 20px; /* Размер шрифта */
    padding: 5px; /* Внутренний отступ для содержимого */
    border: 2px solid #FFAC3C; /* Обводка внутри, цвет желтый */
    box-sizing: border-box; /* Учитываем обводку в общей ширине элемента */
    margin-bottom: 10px; /* Отступ снизу */
    border-radius: 10px;
}

.button {
	width: 130px;
	height: 40px;
	border-radius: 20px;
	background-color: #FFAC3C;
	border: none;
	margin-top: 20px;
	margin-left: 56px;
}

input[type="submit"] {
    font-weight: 600px;
}

.play_market {
    display: flex;
    margin-left: -34px;
    margin-top: 35px;
}

.dowd {
	margin: 59px;
	margin-top: 10px;
}

.language-kaz {
	width: 50px;
	background-color: #fff;
	height: 25px;
	border: 2px solid #FFAC3C;
	border-radius: 5px;
}

.language-rus {
	width: 50px;
	background-color: #fff;
	height: 25px;
	border: 2px solid #FFAC3C;
	border-radius: 5px;
	margin-left: 35px;
	margin-bottom: 10px;
}



@media only screen and (max-width: 400px) {
.head-img {
    width: 347px;
    height: 233px;
    margin-left: 14px;
}

.hello {
    text-align: center;
    font-size: 23px;
    margin-top: 10px;
}

.text {
    text-align: center;
    margin-top: 3px;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 24px;
}

input[type="text"], input[type="tel"], input[type="date"], select {
    width: 275px;
    height: 47px;
    font-size: 19px;
    padding: 5px;
    border: 2px solid #FFAC3C;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}

.form {
	margin-left: 52px;
}

label {
    display: block;
    font-size: 21px;
    margin-bottom: 1px;
    font-weight: 500;
}

.button {
    width: 143px;
    height: 49px;
    border-radius: 20px;
    background-color: #FFAC3C;
    border: none;
    margin-top: 17px;
    margin-left: 56px;
}

.button {
    font-size: 16px;
    font-weight: 700;
    }

.play_market {
    display: flex;
    margin-left: -38px;
    margin-top: 23px;
}

.play, .phone {
	width: 197px;
	height: 50px;
}

.img-dowd {
	width: 190px;
	height: 45px;
	margin-left: -4px;
}

.dowd {
	margin-left: 42px;
	margin-top: 10px;
}

.language-kaz {
	width: 60px;
	background-color: #fff;
	height: 30px;
	border: 2px solid #FFAC3C;
	border-radius: 5px;
}

.language-rus {
	width: 60px;
	background-color: #fff;
	height: 30px;
	border: 2px solid #FFAC3C;
	border-radius: 5px;
	margin-left: 35px;
	margin-bottom: 10px;
}


}